{% extends "base.html" %}

{% block content %}

<div class="d-flex flex-column justify-content-center align-items-center">
    <h2>Book Borrow form</h2>
    <h2>Book to borrow {{ book_title }}</h2>
    <form class="d-flex flex-column justify-content-center align-items-center" method="POST" action="/addborrow/{{ book_id }}">
        {{ form.hidden_tag() }}
        <table>
            {% for field in form if field.widget.input_type != 'hidden' %}
                <tr class={{ field.id }}>
                    <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </table>
        <input type="hidden" name="book_id" value="{{ book_id }}">
        <button class="mt-3" type="submit">Borrow this Book</button>
    </form>
</div>

{% endblock %}