{% extends "base.html" %}

{% block content %}

<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="col-lg-12 text-center">
        <h3 class="mt-5">Books List v2</h3>
        <h2>Authors List</h2>
    </div>
    <table>
        <thead>
        <th>Name</th>
        <th>Comment</th>
        <th>Action</th>
        </thead>
        {% for author in authors %}
        <tr>
            <td><a href="/books/?author={{ author.name }}">{{ author.name }}</a></td>
            <td>{{ author.comment }}</td>
            <td class="d-flex flex-column justify-content-center align-items-center">
                <a href="/addbook/{{ loop.index }}">Add Author's Book</a>
                <a href="/removeauthor/{{ author.id }}">Remove This Author</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h2 class="mt-5">Author Add form:</h2>
        <form class="d-flex flex-column justify-content-center align-items-center mb-5" method="POST" action="/authors">
            {{ form.hidden_tag() }}
            <table>
                {% for field in form if field.widget.input_type != 'hidden' %}
                    <tr>
                        <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                        <td>{{ field }}</td>
                    </tr>
                {% endfor %}
            </table>
            <input type="submit" value="Add Author">
        </form>
    </div>
</div>

{% endblock %}