{% extends "base.html" %}

{% block content %}

<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="col-lg-12 text-center d-flex flex-column justify-content-center align-items-center">
        <h3 class="mt-5">Books List v2</h3>
        <h2>Borrows List</h2>
        <form class="form-inline mb-3" action="/borrows/" method="GET">
            <input class="form-control mr-sm-2" type="text" value="{% if search_query %}{{ search_query }}{% endif %}" placeholder="Search borrower" aria-label="Search borrower" name="search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        {% if borrower %}
        <h3>Filtered by Borrower: {{ borrower }}</h3>    
        {% endif %}
        {% if search %}
        <h3>Filtered by: {{ search }}</h3>    
        {% endif %}
    </div>
    {% if borrows %}
    <table class="mb-5">
        <thead>
        <th>Book</th>
        <th>Borrower</th>
        <th>Borrow Date</th>
        <th>Return Date</th>
        <th>Comment</th>
        <th>Action</th>
        </thead>
        {% for borrow in borrows %}
        <tr>
            <td>{{ borrow.book.title }}</a></td>
            <td><a href="/borrows/?borrower={{ borrow.borrower }}">{{ borrow.borrower }}</a></td>
            <td>{{ borrow.borrow_date }}</td>
            <td>{{ borrow.return_date }}</td>
            <td>{{ borrow.comment }}</td>
            <td><a href="/removeborrow/{{ borrow.id }}">Remove This Borrow</a></td>
        </tr>
        {% endfor %}
    {% else %}
        <h3>Nothing was found.</h3>
    {% endif %}
    </table>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h2 class="mt-5">Book Borrow form:</h2>
        <form class="d-flex flex-column justify-content-center align-items-center mb-5" method="POST" action="/addborrow/">
            {{ form.hidden_tag() }}
            <table class="mb-3">
                {% for field in form if field.widget.input_type != 'hidden' %}
                    <tr>
                        <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                        <td>{{ field }}</td>
                    </tr>
                {% endfor %}
            </table>
            <input type="submit" value="Borrow Book">
        </form>
    </div>
</div>

{% endblock %}